{% load static %}
<html>
	<head>
		<title>unitlist_index</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/unitlist.css' %}">
	</head>
	<body>
		<h1>unitlist_index</h1>
		<h2><a href="./unit/">all unit</a></h2>
		<h2><a href="./char/">char</a></h2>
		<h2><a href="./equip/">equip</a></h2>
	</body>
</html>